body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(http://cdn.wallpapersafari.com/52/4/CEPhKM.jpg);
    background-size: 100%;
    font-family: 'Righteous', cursive;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron{
    background-image: url(https://wallpaperscraft.com/image/fur_bright_pet_rug_18429_602x339.jpg);
    background-size: 100%;
    text-align:center;
}

.navBar{
    background-color: lightblue;
    font-size:20px;
    font-family: 'Lobster', cursive;
}

.table img{
    width: 100px;
    border-radius: 25%;
 
}

.detailsImg{
    float:right;

}
.detailsImg img{
    width:300px;
    border-radius: 25%;   
    border-style:solid;
    border-width:thick;
    border-color: white;
}

.carouselRow{
    background-color:lightblue;
    text-align:center;
    margin-top:-75px;
}

.detailsSideL{
    position: absolute;
    font-size:20px;
    align-content: flex-start;
    margin-left: -20px;
    text-align:center;
}

h1, h2, h3, h4{
    font-family: 'Lobster', cursive;
}

.indexImg img{
    width: 150px;
    border-radius: 25px;
    border-style: solid;
    border-width:thick;
    border-color: lightblue;

}


.headerContainer{
    border-radius: 25px;
    background-color: lightblue;
    margin-bottom: 20px;
    width: 50%;
    border-style: solid;
    border-width:thick;
    border-color: white;

}

.homeThumb{
    background-color:lightblue;
    margin-top: 10px;
    border-radius: 25px;
    text-align:center;
    border-style: solid;
    border-width:thick;
    border-color: white;

}

.detailsRow{
    background-color:lightblue;
    border-radius: 25px;
    border-style:solid;
    border-width: thick;
    border-color:white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.createPage{
    background-color:lightblue;
    border-radius: 25px;
    border-style:solid;
    border-width: thick;
    border-color:white;
    padding-top: 20px;

}