@model IEnumerable<ClosetProjectWeek6.Models.Top>

@{
    ViewBag.Title = "Index";
}

<h2>Tops</h2>

@*To get the image to appear in the details I surrounded the code that displays whatever is entered
    into the photo index in the view to display as an image. That way links to photos can just be dropped in. I arrange the Name
    of the item and the item in a thumbnail and the button links the user to the deatails view of each item
*@



<p>
    <button>@Html.ActionLink("Create New", "Create")</button> 
</p>

<div class="row">
    <div class="container-fluid reviewsHome">
        @foreach (var item in Model)
        { 
        @*//the data has been put in the differt <p> and <h> and we have edited the button so it links to details*@
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    @*<img src="..." alt="...">*@
                    <div class="caption text-center indexImg">
                        @*//this centers the text and button*@
                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                        <p><img src="@Html.DisplayFor(modelItem => item.Photo)" /> </p>
                        <p>@Html.ActionLink("Details", "Details", new { id = item.TopID }, new { role = "button", @class = "btn btn-primary" })</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

